@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --main-color: #6d7d93;
  --main-transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-family: "Almarai", sans-serif;
  font-family: "Roboto", sans-serif;
  background: #f1f3f4;
  box-shadow: 2px 2px 4px rgba(110, 99, 99, 0.3);
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}
/* End Global Rules */

/* Start Header 1 */
.navbar-brand img {
  width: 150px;
  height: 60px;
  border-radius: 10px;
}

.nav-item .nav-link {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #6d7d93 !important;
}

.navbar-toggler {
  padding: 0 !important;
  font-size: 0rem;
  line-height: 0;
  border: none !important;
  outline: none !important;
  color: white;
}

.navbar-toggler i {
  font-size: 33px;
  color: black !important;
}

#nav_btn_ar {
  width: Fixed (50px);
  height: Fixed (50px);
  padding: 10px 13px;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff !important;
  background: #1e9cd7 !important;
}

#nav_btn_ar:hover {
  color: #ffffff;
}

/* modal */
.modal {
  padding-top: 30px;
}

.modal-content {
  border: none !important;
  box-shadow: 0px 17px 44px 0px #b3b3b340 !important;
}

.close_modal {
  margin: 0 0 0 92%;
  text-align: end !important;
}

.modal .login {
  color: #000000;
  padding: 0 0 10px;
}

.modal-form .modal-form-link,
.modal-form .modal-form-link:focus {
  height: 40px;
  width: 70%;
  margin: 7px auto;
  padding: 7px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #f0a7a7;
}

.modal-form .modal-form-textarea {
  width: 70%;
  margin: 7px;
  padding: 7px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #f0a7a7;
}

.modal-form .modal-form-button {
  width: 100px !important;
  margin: 7px;
  padding: 7px 30px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 7px;
  outline: none;
  color: #ffffff;
  background: #0272e1;
  border: 1px solid #0272e1;
}

/* media */
@media (max-width: 1200px) {
  #nav_btn_ar {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 500;
  }
}

@media (max-width: 991px) {
  .logo {
    padding: 0;
    margin: 0;
    width: 100px;
  }

  #nav_btn_ar,
  #nav_btn_ar:hover {
    width: Fixed (50px);
    height: Fixed (50px);
    padding: 10px 13px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 500;
    color: #6d7d93;
    border: 2px solid #1e9cd7;
    background: #ffffff;
  }
}

@media (max-width: 567px) {
  .modal {
    padding: 170px 20px 0 !important;
  }

  .close_modal {
    margin: 0 0 0 87%;
    text-align: end !important;
  }
}
/* End Header */

/* Start slide 2 */

.carousel-item img {
  width: 100px;
  height: 450px;
}

/* End slide 2 */

/* Start Cards 3 */

.show_more {
  margin: 0 10px;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
}

.show_more a,
.show_more a:hover {
  color: #00aeef;
  font-size: 16px;
  font-weight: bold;
}

.show_more a i {
  margin: 0 5px;
}

.show_more p {
  margin: 0 5px;
  color: #000;
  font-size: 18px;
  font-weight: bold;
}

.all_cards {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.all_cards .card {
  margin: 10px;
  width: 23%;
  transition: 0.5s;
}

.all_cards .card:hover .card-img-top {
  transform: scale(0.9);
}

.all_cards .card-body {
  text-align: start;
}

.all_cards .card-body .card-text {
  color: #00aeef;
  padding-bottom: 7px;
}

.all_cards .card-body .request {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: #000;
  padding-top: 10px;
  justify-content: space-between;
}
.all_cards .card-body .request button {
  color: #ffffff;
  border-radius: 5px;
  background: #00aeef;
  border: 1px solid #00aeef;
}

@media (max-width: 1007px) {
  .all_cards .card {
    width: 30%;
  }
}
@media (max-width: 650px) {
  .all_cards .card {
    width: 43%;
  }
}

@media (max-width: 567px) {
  .all_cards .card {
    width: 85%;
  }
}

/* End Cards 3 */
/* Start hosting 3 */
.hosting {
  width: 80%;
  margin: auto;
}

.hosting h2 {
  margin: auto;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.005em;
  text-align: center;
  width: 85%;
}

.hosting p {
  color: #6d7d93;
  padding: 20px;
  margin: auto;
  font-size: 19px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.5;
  text-align: center;
  width: 85%;
}

.hos_buttons {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.hos_buttons .hos_button_shared,
.hos_buttons .hos_buttons_cloud,
.hos_buttons .hos_buttons_dedicated {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.4;
  text-align: center;
  margin: 5px;
  width: 214px;
  height: 41px;
  border-radius: 48px;
  border: 1px solid #6d7d9333;
  transition: 0.5s;
}

.hos_buttons .hos_button_shared:hover,
.hos_buttons .hos_buttons_cloud:hover,
.hos_buttons .hos_buttons_dedicated:hover {
  transform: translate(0.03s);
  color: white;
  background: linear-gradient(270.97deg, #2c9dce 0.51%, #21408d 99.61%),
    linear-gradient(0deg, rgba(109, 125, 147, 0.2), rgba(109, 125, 147, 0.2));
}

.hosting .all_cards {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  padding-top: 30px;
  cursor: pointer;
}

.hosting .all_cards .hos_card {
  width: 30%;
  margin: 10px;
  padding: 30px 10px;
  border-radius: 14px;
  background: #ffffff;
  box-shadow: 0px 10px 56px 0px #0000000d;
}

.hosting .all_cards .hos_card:hover {
  color: white !important;
  background: linear-gradient(180deg, #2c9dce 0%, #21408d 100%);
}

.hosting .all_cards .hos_card:hover h4,
.hosting .all_cards .hos_card:hover p,
.hosting .all_cards .hos_card:hover h2,
.hosting .all_cards .hos_card:hover h2 small,
.hosting .all_cards .hos_card:hover .card_collections span,
.hosting .all_cards .hos_card:hover .card_collections del {
  color: white !important;
}

.hosting .all_cards .hos_card h4 {
  color: #231f20;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
}

.hosting .all_cards .hos_card p {
  color: #969696;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

.hosting .all_cards .hos_card h2 {
  color: #1e9cd7;
  font-family: Be Vietnam Pro;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
}

.hosting .all_cards .hos_card h2 small {
  color: #969699;
  font-family: Be Vietnam Pro;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.011em;
}

.hosting .all_cards .hos_card button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0.011em;
  padding: 7px 30px;
  margin: 20px auto;
  width: 90%;
  border-radius: 8px;
  border: none;
  background: linear-gradient(270.89deg, #2c9dce 0.16%, #21408d 98.75%);
}

.hosting .all_cards .hos_card:hover button {
  color: #152c5b;
  background: #ffffff;
}

.hosting .card_collections {
  text-align: left;
  padding: 10px;
}

.hosting .card_collections .form-check-input {
  background-color: #00aeef;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 50% !important;
}

.hosting .card_collections .del_check {
  background-color: #c4c4c4;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 50% !important;
}

.hosting .card_collections span,
.hosting .card_collections del {
  color: #231f20;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.006em;
}

/* Small */
@media (max-width: 868px) {
  .hosting {
    width: 95%;
    margin: auto;
    padding: 10px 0;
  }

  .hosting h2 {
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
    letter-spacing: 0;
    text-align: center;
    width: 90%;
  }

  .hosting .all_cards .hos_card {
    width: 40%;
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .hosting .all_cards .hos_card {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* End hosting 3 */

/* Start about_us 4 */

.about_us {
  padding: 30px 0;
}
.about_us h2 {
  padding-bottom: 20px;
  text-align: center;
  justify-content: center;
}

.about_us img {
  width: 100%;
}

/* End about_us 4 */

/* Start Contact Us 5 */
.contact {
  margin-top: 0;
}

.contact h2 {
  font-family: Be Vietnam Pro;
  font-size: 21px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.01em;
  margin: 0 auto 20px;
  text-align: center;
  width: fit-content;
  padding: 10px 40px;
  color: #2772b0;
  background: #e8f5fb;
  transform: skewX(-15deg);
  border-radius: 10px;
}

.all_contact {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  overflow: hidden;
}

.all_contact .contact_text {
  width: 35%;
  text-align: left;
}

.all_contact .contact_text img {
  width: 190px;
  height: 55px;
  text-align: left;
}

.all_contact .contact_text p {
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  margin-top: 7px;
  text-align: left;
  color: #4d4d4f;
}

.all_contact .contact_text .call_us {
  width: 100%;
  height: 65px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0px 17px 44px 0px #b3b3b340;
}

.all_contact .contact_text .call_us img {
  width: 43px;
  height: 43px;
  border-radius: 20px;
}

.all_contact .contact_text .call_us span {
  color: #231f20;
  font-family: Be Vietnam Pro;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  width: 52px;
  height: 15px;
}

.all_contact .contact_text .call_us p {
  color: #6d7d93;
  font-family: Be Vietnam Pro;
  padding-top: 2px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.call_us .social {
  font-size: 22px;
  margin: 10px 0 10px 5px;
  color: #00aeef;
}

.contact form {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  overflow: hidden;
  margin: auto;
  width: 60%;
  padding: 30px 10px 0;
  margin: 10px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0px 17px 44px 0px #b3b3b340;
}

.contact form .first-name {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.contact form .first-name .left {
  width: 45%;
  margin-right: 15px;
}

.contact form .first-name .right {
  width: 45%;
}

.contact form input,
.contact form textarea {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  height: 40px;
  border: none;
  outline: none;
  color: #6d7d93 !important;
  border-bottom: 2px solid #cacaca;
}

.contact form label {
  font-family: Be Vietnam Pro;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #231f20;
}

.contact form .form_button {
  color: #ffffff;
  margin-top: 20px;
  width: Hug (200px);
  height: Fixed (50px);
  border: none;
  padding: 10px 80px 10px 80px;
  border-radius: 68px;
  gap: 10px;
  background: linear-gradient(91.9deg, #21408d 3.94%, #2c9dce 96.47%);
}

@media (max-width: 967px) {
  .contact {
    margin-top: 30px;
  }

  .contact p {
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: #231f20;
    margin-bottom: 30px;
  }

  .all_contact .contact_text {
    width: 90%;
    text-align: center;
  }

  .contact form {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: auto;
    width: 90%;
  }
}

@media (max-width: 567px) {
  .contact form .first-name .left {
    width: 90%;
    margin: 7px auto;
  }

  .contact form .first-name .right {
    width: 90%;
    margin: 7px auto;
  }

  .contact form button {
    color: #ffffff;
    width: 100%;
    height: 40px;
    font-weight: bold;
  }
}
/* End Contact Us 5 */

/* Start Footer */

.footer {
  position: relative;
  color: #ffffff;
  background-image: url(../imgs/BG.png);
}

.footer .shape_left {
  position: absolute;
  bottom: 40px;
}

.footer .all_boxs {
  width: 80%;
  margin: auto;
  padding: 40px 0 20px;
}

.footer_logo {
  width: 60%;
  height: 20%;
}

.to-start {
  font-family: Be Vietnam Pro;
  margin-top: 20px;
  font-size: 33px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: -0.03em;
  text-align: left;
}

.footer .box h5 {
  font-family: Be Vietnam Pro;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer .box a {
  display: flex;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 12px;
  color: #ffffff;
}

.footer .box a .img_footer {
  width: 24px;
  height: 24px;
  padding: 2px 4px 2px 0;
}
.footer .social_footer {
  display: flex;
}
.footer .social_footer i {
  margin-right: 15px;
}

.footer .box .input {
  width: 95%;
  display: block;
  margin-bottom: 10px;
  padding: 20px;
  height: 40px;
  border: none;
  border-radius: 31px;
  /* background: #55a2ce; */
}

.footer .box .input[placeholder] {
  font-size: 13px;
  font-weight: bold;
}

.footer .box .input:focus {
  outline: none;
  border: none;
}

.footer .box .button2 {
  width: 95%;
  height: 40px;
  font-family: Be Vietnam Pro;
  /* font-size: 20px; */
  font-weight: bold;
  border: none;
  border-radius: 31px;
  opacity: 0.2px;
  color: #231f20;
  background: #ffffff;
}

.footer .copyright {
  height: 40px;
  padding: 7px;
  text-align: center;
  color: #ffffff;
  background: #00aeef;
}

@media (max-width: 768px) {
  .footer-img {
    width: 40%;
    height: 100%;
  }

  .footer .copyright {
    height: 70px;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    background: #00aeef;
  }
}

/* End Footer */

/***********************************************************/
/********************** END HOME PAGE *********************/
/***********************************************************/

/***********************************************************/
/************* Start All Auctions PAGE *********************/
/***********************************************************/
.all_auctions {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100px;
  padding-left: 15px;
  background: #00aeef;
}

.all_auctions p {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.all_auctions a,
.all_auctions a:hover {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
}

/***********************************************************/
/***************** End All Auctions PAGE ****************/
/***********************************************************/

/***********************************************************/
/*********** Start Auction details PAGE *******************/
/***********************************************************/
.details {
  padding: 20px 0 10px;
}

.details h2 {
  font-size: 21px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.01em;
  margin: 0 0 20px;
  width: fit-content;
  padding: 10px 40px;
  color: #ffffff;
  background: #00aeef;
  /* transform: skewX(-15deg); */
}

.details p {
  padding: 0;
}

.review {
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.review img {
  height: 70px;
  width: 70px;
  border-radius: 50px;
}
.review .review_title {
  padding: 10px;
  margin: 10px 5px;
  flex: 1;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(110, 99, 99, 0.3);
}
.review .review_title p {
  padding: 0;
  margin-bottom: 5px;
}

.review .review_title .apply {
  display: flex;
  text-align: start;
  justify-content: space-between;
}

.review .review_title .apply button {
  height: 40px;
  border-radius: 5px;
  padding: 5px 25px 10px;
  margin: 0 10px;
  background: #00aeef;
  border: 1px solid #00aeef;
}
.review .review_title .apply button a {
  color: #ffffff;
}

.review_comment {
  width: 95%;
  margin: 20px auto;
  border-radius: 20px;
  border: 1px solid #000;
}

.review_comment input {
  display: block;
  width: 97%;
  padding: 10px;
  margin: 10px auto 20px;
  outline: none;
  border: none;
}

.review_comment p {
  padding: 0 15px;
  text-align: end !important;
}

.review_comment button {
  color: #00aeef;
  border-radius: 5px;
  padding: 0;
  background: #ffffff;
  border: none;
}

.review_comment button i {
  font-size: 30px;
}

@media (max-width: 768px) {
  .review .review_title .apply {
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    justify-content: start;
  }
  .review .review_title .apply button {
    color: #ffffff;
    height: 40px;
    border-radius: 5px;
    padding: 5px 25px 10px;
    margin: 0;
    background: #00aeef;
    border: 1px solid #00aeef;
  }
}

.pagination {
  margin: 20px auto !important;
  align-items: center;
  justify-content: center;
}

/***********************************************************/
/*********** End Auction details PAGE *******************/
/***********************************************************/
